<div class="container">
  <h2>
    Here you can download my CV to learn more about my education, skills, and
    professional journey. From my academic achievements to my work experiences,
    my CV provides a comprehensive overview of who i am and what i bring to the
    table.
  </h2>
  <div class="btns">
    <div class="-cv">
      <a href="../../assets/encv.pdf" target="_blank">
        <button class="cv-btn">CV</button>
      </a>
      <p>English</p>
    </div>
    <div class="-cv">
      <a href="../../assets/itcv.pdf"></a>
      <button class="cv-btn">CV</button>
      <p>Italian</p>
    </div>
  </div>
</div>
