<div class="container">
  <button class="close" (click)="projectService.showDialog = false">
    close
  </button>

  <div class="visual">
    <div class="title" style="margin-top: 1rem; font-size: 1.4rem">
      {{ message }}
    </div>
    <div class="pro-pic" style="width: 30rem; height: 100%">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide *ngFor="let item of projectDialog">
          <img
            [src]="item.projectImg"
            alt=""
            style="width: 100%; height: 380px; object-fit: contain"
          />
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
  <div class="description">
    <p style="text-align: center; margin: 2rem; vertical-align: middle">
      {{ description }}
    </p>
  </div>
</div>
