<div class="header">
  <a routerLink="/"><img class="left" src="../../assets/Logo.jpg" alt="" /></a>
  <div class="header-right">
    <!-- <ul>
      <li
        href=""
        *ngFor="let item of items"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        [routerLink]="item.link"
        [id]="item.id"
        (click)="setActiveClass(item)"
      >
        <a *ngIf="item.name ==='Contact' ">
          {{ item.name }}
        </a>
      </li>
    </ul> -->
    <a routerLink="/">Home</a>
    <a routerLink="#about" (click)="goToAbout('#about')">About</a>
    <a routerLink="#contact" (click)="goToContact('#contact-me')">Contact</a>
    <a routerLink="/cv">CV</a>
    <a routerLink="/projects">Projects</a>
  </div>
</div>
