<div class="container">
  <div class="summarize">
    <img
      src="../../assets/pro-pic/Maryam.jpg"
      alt="profile-picture"
      id="about"
      (click)="goToAbout('#about')"
    />
    <p>
      Born on March 2nd, 1997, I am an architect with a vibrant passion for
      fashion. My academic background includes a degree in Architectural
      Engineering from the University of Mazandaran, followed by in-depth
      studies in Fashion Studies at the University of Bologna, Rimini
    </p>
  </div>
  <div class="footer"></div>
</div>
