.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.summarize {
  height: 10rem;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: lightgray;
}

.summarize img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 5rem;
  transition: 0.5s;
}

.summarize img:hover {
  cursor: pointer;
  transform: scale(1.5);
}

.summarize p {
  margin-left: 5rem;
  width: 30%;
  height: 40px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.footer {
  position: relative;
  bottom: 0;
  height: 50px;
  width: 100vw;
  background-color: black;
}

.footer-btn {
  margin-left: 10rem;
  background-color: darkgray;
  border: none;
  width: 8rem;
  height: 4rem;
  color: white;
  transition: 0.5s;
}

.footer-btn:hover {
  border-radius: 3rem;
  background-color: lightgray;
  cursor: pointer;
  transition: 0.5s;
  color: black;
}

@media (max-width: 600px) {
  .summarize img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 5px;
    transition: 0.5s;
  }
  .summarize p {
    margin-left: 1rem;
    width: 50%;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
