<app-dialog
  *ngIf="projectService.showDialog && isLoaded"
  [message]="projectName"
></app-dialog>
<div class="title">
  <h1>Projects</h1>
</div>
<div class="container">
  <div class="projects" *ngFor="let item of project">
    <div class="pro-img">
      <img [src]="item.projectImg" alt="" />
    </div>
    <div class="p-name">
      <button
        (click)="projectService.showDialog = true"
        [value]="item.projectName"
        class="btn"
        (click)="getVal($event)"
      >
        {{ item.projectName }}
      </button>
    </div>
  </div>
</div>
