/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

html,
body {
  margin: 0;
  font-family: Quicksand, "Helvetica Neue", sans-serif;
  height: 100%;
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.owl-next,
.owl-prev {
  background: black !important;
  color: white;
}

.owl-theme .owl-nav {
  margin-top: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.owl-carousel .owl-item img {
  width: 20rem !important;
  margin-top: -20px !important;
}
