.bg-img {
  position: relative;
}

.bg-img img {
  filter: brightness(0.4);
  height: auto;
  width: 100vw;
  object-fit: cover;
  margin-top: 8rem;
}

.bg-img h1 {
  position: absolute;
  z-index: 1;
  color: white;
  font-size: 3rem;
  letter-spacing: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.bg-img h3 {
  position: absolute;
  z-index: 1;
  color: white;
  font-size: 1rem;
  font-weight: 100;
  letter-spacing: 8px;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about {
  margin-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-img {
  width: 50vw;
}

.profile-img img {
  object-fit: cover;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  margin-left: 10rem;
  margin-right: 3rem;
  transition: 0.5s;
}

.description {
  width: 50vw;
  text-overflow: ellipsis;
  margin-right: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.description button {
  width: 10rem;
  background-color: lightgray;
  border: none;
  border-radius: 3px;
  height: 4rem;
  transition: 0.5ms;
}

.description button:hover {
  cursor: pointer;
  background-color: gray;
  transition: 0.5ms;
}

.contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-me h2 {
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.contact-me hr {
  width: 60%;
  text-align: left;
  height: 2px;
  background-color: darkgray;
  margin-bottom: 10px;
}

.logo {
  width: 2.5rem;
  margin-left: 8rem;
  transition: transform 0.2s;
  margin-bottom: 20rem;
}

.logo:hover {
  transform: scale(1.5);
}

#contact-me {
  margin-bottom: 10rem;
}

@media (max-width: 600px) {
  .about {
    column-gap: 1rem;
    display: block;
  }
  .profile-img img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: 0.5s;
    margin: 5px;
  }

  .description {
    /* overflow: hidden; */
    text-align: right;
    /* width: 50px; */
    /* height: 200px; */
    text-overflow: ellipsis;
  }

  .link {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    margin-left: 4px;
  }
}

@media (max-width: 500px) {
  .bg-img img {
    margin-top: 23rem;
  }
  .bg-img h1 {
    top: 65%;
  }
  .bg-img h3 {
    top: 75%;
  }

  #contact-me {
    margin-bottom: 23rem;
  }
}
